domain-needed
bogus-priv
no-resolv
no-hosts

{% for i in forwarded_dns_servers %}
server={{ i }}
{% endfor %}

local=/{{ tld }}/

domain={{ base_url }}

{% for m in current_machines %}
address=/{{m.short_name}}.{{tld}}/{{m.ip}}  # {{m.description}}
{% endfor %}
